# 4.1 一个示例

In [24]:
#创建leadership数据框
manager <- c(1, 2, 3, 4, 5)
date <- c("10/24/08", "10/28/08", "10/1/08", "10/12/08", "5/1/09")
country <- c("US", "US", "UK", "UK", "UK")
gender <- c("M", "F", "F", "M", "F")
age <- c(32, 45, 25, 39, 99)
q1 <- c(5, 3, 3, 3, 2)
q2 <- c(4, 5, 5, 3, 2)
q3 <- c(5, 2, 5, 4, 1)
q4 <- c(5, 5, 5, NA, 2)
q5 <- c(5, 5, 2, NA, 1)
leadership <- data.frame(manager, date, country, gender, age,q1, q2, q3, q4, q5, stringsAsFactors=FALSE)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

# 4.2 创建新变量

变量名 <- 表达式

以上表达式可以包含多种运算符和函数

![算术运算符.jpg](./image/算术运算符.jpg)

In [25]:
#创建新变量
mydata<-data.frame(x1 = c(2, 2, 6, 4),
                   x2 = c(3, 4, 2, 8))

mydata$sumx <- mydata$x1 + mydata$x2
mydata$meanx <- (mydata$x1 + mydata$x2)/2

attach(mydata)
mydata$sumx <- x1 + x2
mydata$meanx <- (x1 + x2)/2
detach(mydata)

mydata <- transform(mydata,
sumx = x1 + x2,
meanx = (x1 + x2)/2)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

# 4.3 变量的重编码

重编码设计根据同一个变量和/或其他变量的现有值创建新值的过程。

    讲一个连续性变量修改为一组类别值；

    将误编码的值替换为正确值；

    基于一组分数线创建一个表示及格/不及格的变量。

![逻辑运算符.jpg](./image/逻辑运算符.jpg)

In [26]:
#如果将leadership数据集中经理人的连续型年龄变量age重编码为类别型变量agecat（young、Middle Aged、Elder）。

leadership$age[leadership$age ==99]  <- NA  #必须将99岁的年龄值重编码为缺失值

#然后使用以下代码创建agecat变量：

leadership$agecat[leadership$age > 75] <- "Elder"
leadership$agecat[leadership$age >= 55 &
                  leadership$age <= 75] <- "Middle Aged"
leadership$agecat[leadership$age < 55] <- "Young"


#或者可以写成下面这样的代码
#   leadership <- within(leadership,{
#                       agecat <- NA
#                        agecat[age > 75] <- "Elder"
#                        agecat[age >= 55 & age <= 75] <- "Middle Aged"
#                        agecat[age < 55] <- "Young" })

#函数within()与函数with()类似，不同的是它允许修改数据框

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

car包中的recode()函数可以十分简单地重编数值型、字符型向量或因子。

doBy包提供了另外一个很瘦欢迎的函数recodevar()

R中也自带了cut()，可将一个数值型变量按值域切割为多个区间，并返回一个因子。

# 4.4 变量的重命名

#如果对现有的变量名称不满意，可以交互地或者以编程的方式修改它们。

#假设你希望将变量名为manager修改为managerID，并将data修改为testData，那么可以使用语句：

fix(leadership) #调用一个交互式的编辑器，然后单击变量名，然后再弹出的对话框中将其重命名

In [27]:
#若以编程方式，可以通过names()函数来重命名变量。
names(leadership)
names(leadership)[2] <- "testDate"  
leadership

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

 [1] "manager" "date"    "country" "gender"  "age"     "q1"      "q2"
 [8] "q3"      "q4"      "q5"      "agecat"

  manager testDate country gender age q1 q2 q3 q4 q5 agecat
1 1       10/24/08 US      M      32  5  4  5   5  5 Young
2 2       10/28/08 US      F      45  3  5  2   5  5 Young
3 3       10/1/08  UK      F      25  3  5  5   5  2 Young
4 4       10/12/08 UK      M      39  3  3  4  NA NA Young
5 5       5/1/09   UK      F      NA  2  2  1   2  1 NA

In [28]:
#以类似的方式将重命名q1到q5为item1到item5
names(leadership)[6:10] <- c("item1","item2","item3","item4","item5")
leadership

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  manager testDate country gender age item1 item2 item3 item4 item5 agecat
1 1       10/24/08 US      M      32  5     4     5      5     5    Young
2 2       10/28/08 US      F      45  3     5     2      5     5    Young
3 3       10/1/08  UK      F      25  3     5     5      5     2    Young
4 4       10/12/08 UK      M      39  3     3     4     NA    NA    Young
5 5       5/1/09   UK      F      NA  2     2     1      2     1    NA

plyr包中有一个rename()函数，可用于修改变量名。其使用格式是

rename(dataframe, c(oldname="newname", oldname="newname",...))

In [29]:
#rename()函数的示例
library(plyr)
leadership <- rename(leadership, c(manager="managerID", data="testDate"))

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windowsThe following `from` values were not present in `x`: data

# 4.5 缺失值

在任何规模的项目中，数据都可能由于未作答问题、设备故障或误编码数据的缘故而不完整。

在R中，缺失值以符号NA（Not Available, 不可用）表示。 

与SAS等程序不同，R中字符型和数值型数据使用的缺失值符号是相同的。

R提供了一些函数，用于识别包含缺失值的观测。函数is.na()允许你检测缺失值是否存在。

In [30]:
#假设你有一个向量：
y <- c(1,2,3,NA)
#然后使用函数
is.na(y)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] FALSE FALSE FALSE  TRUE

注意is.na()函数是如何作用于一个对象上的。

它将返回一个相同大小的对象，如果某个元素是缺失值，相应的位置将被改写为TRUE，不是缺失值的位置则为FALSE。

In [31]:
#使用is.na()函数
is.na(leadership[,6:10]) #将数据框限定到第6列至第10列，然后用is.na()识别出缺失值

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

     item1 item2 item3 item4 item5
[1,] FALSE FALSE FALSE FALSE FALSE
[2,] FALSE FALSE FALSE FALSE FALSE
[3,] FALSE FALSE FALSE FALSE FALSE
[4,] FALSE FALSE FALSE  TRUE  TRUE
[5,] FALSE FALSE FALSE FALSE FALSE

在处理缺失值的时候，要一直记住两件重要的事：

第一：
缺失值被认为是不可比较的，即便是与缺失值自身的比较。意味着无法使用比较运算符来检测缺失值是否存在。
    
        例如：逻辑测试myvar == 的结果永远不会为TRUE。作为替代，你只能使用处理缺失值的函数（如本届中所述的那些）来识别出R数据对象中的缺失值。 

第二：R并不把无线的或者 不可能出现的数值标记成缺失值。
      再次地，这和其余像SAS之类类似的程序处理这类数值的方式所不同。正无穷和负无穷分别用Inf和-Inf所标记。
      因此，5/0返回Inf。 不可能的值（比如说，sin(Inf)）用NaN符号来标记（not a number， 不是一个数）。
      若要识别这些数值，你需要用到is.infinite()或is.nan()

## 4.5.2 在分析中排除缺失值

确定了缺失值的位置以后，也需要再进一步分析数据之前以某种方式删除这些缺失值。原因是，含有缺失值的算数表达式和函数的计算结果也是缺失值。

In [32]:
#举例来说，考虑一下代码：
x <- c(1,2,NA, 3)
y <- x[1] + x[2] + x[3] + x[4]
z <- sum(x)
y

z
#由于x中的第三个元素是缺失值，所以y和z也都是NA（缺失值）。

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] NA

[1] NA

好在多数的数值函数都拥有一个na.rm=TRUE想想，可以再计算之前一处缺失值并使用生育值进行计算：

In [33]:
x <- c(1,2,NA,3)
y <- sum(x,na.rm=TRUE)
y

[1] 6

在使用函数处理不完整的数据是，请务必查阅它们的帮助文档（例如，help(sum)）,检查这些函数是如何处理确实数据的。

还可以通过函数na.omit()一处所有含有缺失值的观测。
na.omit()可以删除所有含有缺失数据的行。

In [34]:
#使用na.omit()删除不完整的观测
leadership
newdata <- na.omit(leadership)
newdata

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  managerID testDate country gender age item1 item2 item3 item4 item5 agecat
1 1         10/24/08 US      M      32  5     4     5      5     5    Young
2 2         10/28/08 US      F      45  3     5     2      5     5    Young
3 3         10/1/08  UK      F      25  3     5     5      5     2    Young
4 4         10/12/08 UK      M      39  3     3     4     NA    NA    Young
5 5         5/1/09   UK      F      NA  2     2     1      2     1    NA

  managerID testDate country gender age item1 item2 item3 item4 item5 agecat
1 1         10/24/08 US      M      32  5     4     5     5     5     Young
2 2         10/28/08 US      F      45  3     5     2     5     5     Young
3 3         10/1/08  UK      F      25  3     5     5     5     2     Young

删除所有含有缺失数据的观测（称为行删除，listwise deletion）是处理不完整数据集的若干手段之一。

如果只有少数缺失值或者缺失值仅集中于一小部分观测中，行删除不失为解决缺失值问题的一种优秀方法。

但如果缺失值遍布于数据之中，或者一小部分变量中包含大量的确实数据，行删除可能会提出相当比例的数据。

# 4.6 日期值

日期值通常以字符串的形式输入到R中，然后转化为以数值形式存储的日期变量。

函数as.Date()用于执行这种转化。其语法为as.Date(x, input_format),其中x是字符型数据，

input_format则给出了用于读入日期的适当格式。
![日期格式.png](./image/日期格式.png)

日期值得默认输入格式为yyy-mm-dd。语句：

mydates <- as.Date(c("2007-06-22", "2004-02-13"))

In [35]:
#日期值得默认输入格式为yyy-mm-dd。语句：
mydates <- as.Date(c("2007-06-22", "2004-02-13"))
mydates

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] "2007-06-22" "2004-02-13"

In [36]:
#将默认格式的字符型数据转换为了对应日期。相反，
strDates <- c("01/05/1965", "08/16/1975")
strDates
dates <- as.Date(strDates, "%m/%d/%Y")
dates

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] "01/05/1965" "08/16/1975"

[1] "1965-01-05" "1975-08-16"

In [37]:
#在leadership数据集中，日期是以mm/dd/yy的格式编码为字符型变量的。因此：

myformat <- "%m/%d/%y"
leadership$testDate


leadership$date <- as.Date(leadership$testDate, myformat)
leadership$date
#使用指定格式读取字符型变量，并将其作为一个日期变量替换到数据框中。这种转换一旦完成，你就可以使用后续各章中讲到的诸多分析方法对这些日期进行分析和绘图。

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] "10/24/08" "10/28/08" "10/1/08"  "10/12/08" "5/1/09"

[1] "2008-10-24" "2008-10-28" "2008-10-01" "2008-10-12" "2009-05-01"

In [38]:
#Sys.Date()可以返回当天的日期。
Sys.Date()

#data()则返回当前的日期和时间。
date()

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] "2019-03-08"

[1] "Fri Mar 08 13:46:14 2019"

In [39]:
#format(x, format="output_format")来输出指定格式的日期值，并且可以提取日期值中的某些部分：

today <- Sys.Date()
format(today, format="%B %d %Y")

format(today, format="%A")

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] "March 08 2019"

[1] "Friday"

R的内部在存储日期时，是使用自1970年1月1日以来的天枢表示的，更早的日期则表示为附属。这意味着可以再日期值上执行算数运算。

In [40]:
startdate <- as.Date("2004-02-13")
enddate <- as.Date("2011-01-22")
days <- enddate - startdate
days

Time difference of 2535 days

使用函数difftime()来计算时间间隔，并以星期、天、时、分、秒来表示。

In [41]:
today <- Sys.Date()
dob <- as.Date("1993-02-14")
difftime(today,dob, units="weeks")

Time difference of 1359.714 weeks

## 4.6.1 将日期转换为字符型变量

In [42]:
#as.character() 可将日期值转换为字符型
strDates <- as.character(dates)
strDates

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] "1965-01-05" "1975-08-16"

## 4.6.2  更进一步

要了解字符型数据转换为日期的更多细节，请查看help(as.Date)和help(strftime)

要了解更多关于日期和时间格式的知识，请参考help(ISOdatetime)。

lubridate包中包含了许多简化日期处理的函数，可以用于识别和解析日期—时间数据，抽取日期—时间成分（例如年份、月份、日期等），以及对日期—时间值进行算术运算。

如果你需要对日期进行复杂的计算，那么timeDate包可能会有帮助。它提供了大量的日期处理函数，可以同时处理多个时区，并且提供了复杂的历法操作功能，支持工作日、周末以及假期。

# 4.7 类型转换

![类型转换函数.png](./image/类型转换函数.png)
名为is.datatype()这样的函数返回TRUE或FALSE，而as.datatype()这样的函数则将其
参数转换为对应的类型。

In [43]:
#转换数据类型
a <- c(1,2,3)
a
is.numeric(a)

is.vector(a)

a <- as.character(a)
a

is.numeric(a)

is.vector(a)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] 1 2 3

[1] TRUE

[1] TRUE

[1] "1" "2" "3"

[1] FALSE

[1] TRUE

# 4.8 数据排序

使用order()函数对一个数据框进行排序。

默认的排序顺序是升序。

在排序变量的前边加一个减号即可得到降序的排序结果。

In [44]:
#使用leadership演示数据框的排序：
attach(leadership)
print("leadership 数据框")
leadership
newdata <- leadership[order(gender, age),]
print("newdata 数据框")
newdata
detach(leadership)

#各行依经理人的年龄升序排序。

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windowsThe following objects are masked _by_ .GlobalEnv:

    age, country, date, gender

[1] "leadership <U+6570><U+636E><U+6846>"

  managerID testDate country gender age item1 item2 item3 item4 item5 agecat
1 1         10/24/08 US      M      32  5     4     5      5     5    Young
2 2         10/28/08 US      F      45  3     5     2      5     5    Young
3 3         10/1/08  UK      F      25  3     5     5      5     2    Young
4 4         10/12/08 UK      M      39  3     3     4     NA    NA    Young
5 5         5/1/09   UK      F      NA  2     2     1      2     1    NA
  date
1 2008-10-24
2 2008-10-28
3 2008-10-01
4 2008-10-12
5 2009-05-01

[1] "newdata <U+6570><U+636E><U+6846>"

  managerID testDate country gender age item1 item2 item3 item4 item5 agecat
3 3         10/1/08  UK      F      25  3     5     5      5     2    Young
2 2         10/28/08 US      F      45  3     5     2      5     5    Young
5 5         5/1/09   UK      F      NA  2     2     1      2     1    NA
1 1         10/24/08 US      M      32  5     4     5      5     5    Young
4 4         10/12/08 UK      M      39  3     3     4     NA    NA    Young
  date
3 2008-10-01
2 2008-10-28
5 2009-05-01
1 2008-10-24
4 2008-10-12

In [45]:
attach(leadership)
newdata <-leadership[order(gender, -age),]
detach(leadership)
newdata
#各行依经理人的性别和年龄降序排序

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windowsThe following objects are masked _by_ .GlobalEnv:

    age, country, date, gender

  managerID testDate country gender age item1 item2 item3 item4 item5 agecat
5 5         5/1/09   UK      F      NA  2     2     1      2     1    NA
2 2         10/28/08 US      F      45  3     5     2      5     5    Young
3 3         10/1/08  UK      F      25  3     5     5      5     2    Young
4 4         10/12/08 UK      M      39  3     3     4     NA    NA    Young
1 1         10/24/08 US      M      32  5     4     5      5     5    Young
  date
5 2009-05-01
2 2008-10-28
3 2008-10-01
4 2008-10-12
1 2008-10-24

# 4.9 数据集的合并

如果数据分散在多个地方，就需要再继续下一步之前将其合并。

这里展示想数据框中添加列（变量）和行（观测）的方法。

## 4.9.1 数据集的合并

要横向合并两个数据框（数据集），请使用merge()函数。在多数情况下，两个数据框是通过一个或多个共有变量进行联结的（即一种内连接，inner join）。

#将dataframeA和dataframeB按照ID进行合并。
total <- merge(dataframeA, dataframeB, by="ID")

#将连个数据框按照ID和Country进行合并。类似的 横向联结通常用于向数据框中添加变量。
total <- merge(dataframeA, dataframeB, by=c("ID","Country"))

![用cbind进行横向合并.png](./image/用cbind进行横向合并.png)

## 4.9.2 向数据框添加行

使用rbind()函数纵向合并两个数据框（数据集），请使用rbind()函数：

total <- rbind(dataframeA,dataframeB)

两个数据框必须拥有相同的变量，不过它们的顺序不必一定相同。如果dataframeA中拥有
dataframeB中没有的变量，请在合并它们之前做以下某种处理：
    
    删除dataframeA中的多余变量；
    在dataframeB中创建追加的变量并将其值设为NA（缺失）。

纵向联结通常用于向数据框中添加观测。

# 4.10 数据集取子集

R拥有强大的索引特性，可以用于访问对象中的元素。也可利用这些特性对变量或观测进行选入和排除。以下几节演示了对变量和观测进行保留或删除的若干方法。

## 4.10.1 选入（保留）变量

从一个大数据集中选择有限数量的变量来创建一个新的数据集是常有的事。在第2章中，数据框中的元素是通过dataframe[row indices, column indices]这样的记号来访问的。你可以沿用这种方法来选择变量。

In [51]:
#从leadership数据框中选择了变量item1、item2、item3、item4、item5，并将它们保存到数据框newdata中。将行下标留空（,）表示默认选择所有行。
newdata <- leadership[, c(6:10)]
newdata

#将行下标留空（,）表示默认选择所有行。
myvars <- c("item1", "item2", "item3", "item4", "item5")
newdata2 <-leadership[myvars]
newdata2

#同样的结果
myvars <- paste("item", 1:5, sep="")  #使用paste()函数创建了与上例中相同的字符型向量
newdata3 <- leadership[myvars]
newdata3

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  item1 item2 item3 item4 item5
1 5     4     5      5     5
2 3     5     2      5     5
3 3     5     5      5     2
4 3     3     4     NA    NA
5 2     2     1      2     1

  item1 item2 item3 item4 item5
1 5     4     5      5     5
2 3     5     2      5     5
3 3     5     5      5     2
4 3     3     4     NA    NA
5 2     2     1      2     1

  item1 item2 item3 item4 item5
1 5     4     5      5     5
2 3     5     2      5     5
3 3     5     5      5     2
4 3     3     4     NA    NA
5 2     2     1      2     1

## 4.10.2 剔除（丢弃）变量

剔除变量的原因有很多。

举例来说，如果某个变量中有很多缺失值，你可能就想在进一步分析之前将其丢弃。下面是一些剔除变量的方法。

In [52]:
x <- names(leadership)  #生成一个包含所有变量名的字符型向量
myvars <- x %in% c("item3", "item4")  #返回一个包含所有变量名的字符型向量
myvars

newdata <- leadership[!myvars]  #运算符非（!）将逻辑值反转，leadership[!myvars]选择逻辑值为TRUE的列，于是剔除"item3", "item4"
newdata

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE

  managerID testDate country gender age item1 item2 item5 agecat date
1 1         10/24/08 US      M      32  5     4      5    Young  2008-10-24
2 2         10/28/08 US      F      45  3     5      5    Young  2008-10-28
3 3         10/1/08  UK      F      25  3     5      2    Young  2008-10-01
4 4         10/12/08 UK      M      39  3     3     NA    Young  2008-10-12
5 5         5/1/09   UK      F      NA  2     2      1    NA     2009-05-01

In [54]:
#如果知道"item3", "item4"是第八第九个变量，可以使用下面的语句：
newdata5 <- leadership[c(-8,-9)]  #在某一列的下标之前加一个减号就会提出那一列
newdata5

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  managerID testDate country gender age item1 item2 item5 agecat date
1 1         10/24/08 US      M      32  5     4      5    Young  2008-10-24
2 2         10/28/08 US      F      45  3     5      5    Young  2008-10-28
3 3         10/1/08  UK      F      25  3     5      2    Young  2008-10-01
4 4         10/12/08 UK      M      39  3     3     NA    Young  2008-10-12
5 5         5/1/09   UK      F      NA  2     2      1    NA     2009-05-01

In [55]:
#相同的变量删除工作亦可通过下列语句
newdata6 <- leadership
newdata6$item1 <- newdata6$item4 <- NULL  #将item1 和 item4 设为未定义（NULL）。注意，NULL与NA（表示缺失）是不同的。
newdata6

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  managerID testDate country gender age item2 item3 item5 agecat date
1 1         10/24/08 US      M      32  4     5      5    Young  2008-10-24
2 2         10/28/08 US      F      45  5     2      5    Young  2008-10-28
3 3         10/1/08  UK      F      25  5     5      2    Young  2008-10-01
4 4         10/12/08 UK      M      39  3     4     NA    Young  2008-10-12
5 5         5/1/09   UK      F      NA  2     1      1    NA     2009-05-01

## 4.10.3 选入观测

选入或剔除观测（行）通常是成功的数据准备和数据分析的一个关键方面。

In [57]:
#选入观测
newdata <- leadership[1:3,]  #选择第1行到第3行（前三个观测）

newdata <- leadership[leadership$gender=="M" &
                      leadership$age > 30,] #选择所有30岁以上的男性

#使用attach()函数，省却不必在变量名前加上数据框名称
attach(leadership)
newdata <- leadership[gender=='M' & age > 30,]
detach(leadership)
newdata

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windowsThe following objects are masked _by_ .GlobalEnv:

    age, country, date, gender

  managerID testDate country gender age item1 item2 item3 item4 item5 agecat
1 1         10/24/08 US      M      32  5     4     5      5     5    Young
4 4         10/12/08 UK      M      39  3     3     4     NA    NA    Young
  date
1 2008-10-24
4 2008-10-12

In [58]:
#将研究范围限定在2009年1月1日到2009年12月31日
leadership$date <- as.Date(leadership$date, "%m/%d/%y")

startdate <- as.Date("2009-01-01")  #创建开始日期
enddate <- as.Date("2009-10-31")  #创建结束日期

newdata <- leadership[which(leadership$date >= startdate &
                            leadership$date <= enddate),]  #选择满足你期望中准则的个案
newdata

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  managerID testDate country gender age item1 item2 item3 item4 item5 agecat
5 5         5/1/09   UK      F      NA  2     2     1     2     1     NA
  date
5 2009-05-01